* {
    margin: 0;
    padding: 0;
  }
   
  .wrapper {
    position: relative;
    display: block;
    width: 600px;
    height: 300px;
    background-color: #fff;
  }
   
  .blocks {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
  }
   
  .block {
    width: 50%;
    height: 50%;
  }
   
  .block:nth-of-type(1) {
    background-color: rgb(183, 199, 228);
  }
   
  .block:nth-of-type(2) {
    background-color: rgb(198, 228, 231);
  }
   
  .block:nth-of-type(3) {
    background-color: rgb(198, 223, 209);
  }
   
  .block:nth-of-type(4) {
    background-color: rgb(227, 237, 217);
  }
   
  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgb(146, 150, 197);
  }